# Variables para la base de datos
POSTGRES_DB=postgres
DB_USER=odoo
DB_PASSWORD=1234

# Variables para odoo
HOST=db # No tocar, salvo que se cambie el nombre del contenedor de la base de datos o se utilice otra diferente
