#version: '3'
services:
  db:
    image: postgres:14
    container_name: db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  odoo:
    build:
      context: .
      dockerfile: DockerFile.Odoo
    container_name: odoo
    environment:
       - HOST=${HOST}
       - USER=${ODOO_USER}
       - PASSWORD=${ODOO_PASSWORD}
    ports:
      - '8069:8069'
    volumes:
      - ./ODOO/addons:/mnt/extra-addons
      - ./ODOO/filestore:/var/lib/odoo/filestore
      - ./ODOO/sessions:/var/lib/odoo/sessions
    depends_on:
      - db
    command: --dev=all
volumes:
  db_data:
