<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="Gestión Proyectos - JGA" id="final_jga.menu_root"/>
        <!-- menu categories -->
        <menuitem name="Proyectos" id="final_jga.main_menu" parent="final_jga.menu_root"/>
        <!-- actions -->
        <menuitem name="Gestión de Proyectos" id="final_jga.projects_menu" parent="final_jga.main_menu"
                  action="final_jga.action_projects_list"/>
        <menuitem name="Gestión de Tareas" id="final_jga.tasks_menu" parent="final_jga.main_menu"
                  action="final_jga.action_tasks_list"/>
        <menuitem name="Gestión de Empleados" id="final_jga.employees_menu" parent="final_jga.main_menu"
                  action="final_jga.action_employees_list"/>
    </data>
</odoo>